@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* file adds CSS rules to all the routes in your application */
/* such as CSS reset rules, site-wide styles for HTML elements like links, and more. */

/* @import url(https://db.onlinewebfonts.com/c/5a038ca921cee4b127d7c4b2c1919101?family=Wink+Script+W05+Regular); */

/* @font-face {
  font-family: "Wink Script W05 Regular";
  src: url("https://db.onlinewebfonts.com/t/5a038ca921cee4b127d7c4b2c1919101.eot");
  src:
    url("https://db.onlinewebfonts.com/t/5a038ca921cee4b127d7c4b2c1919101.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/5a038ca921cee4b127d7c4b2c1919101.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/5a038ca921cee4b127d7c4b2c1919101.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/5a038ca921cee4b127d7c4b2c1919101.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/5a038ca921cee4b127d7c4b2c1919101.svg#Wink Script W05 Regular")
      format("svg");
} */

body {
  /* font-family: "Wink Script W05 Regular"; */
}

.swooshed {
  -moz-font-feature-settings: "swsh"; /* low-level (old Firefox)      */
  -webkit-font-feature-settings: "swsh"; /* low-level (old Webkit)       */
  font-feature-settings: "swsh" on; /* low-level (all new browsers) */
}

.ss06 {
  -moz-font-feature-settings: "ss06"; /* low-level (old Firefox)      */
  -webkit-font-feature-settings: "ss06"; /* low-level (old Webkit)       */
  font-feature-settings: "ss06" on; /* low-level (all new browsers) */
}

/* https://wakamaifondue.com/ */

.blok:nth-of-type(odd) {
  background-color: white;
}

.blok:nth-of-type(even) {
  background-color: black;
}

@keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

@-webkit-keyframes border-transform {
  0%,
  100% {
    border-radius: 63% 37% 54% 46% / 55% 48% 52% 45%;
  }
  14% {
    border-radius: 40% 60% 54% 46% / 49% 60% 40% 51%;
  }
  28% {
    border-radius: 54% 46% 38% 62% / 49% 70% 30% 51%;
  }
  42% {
    border-radius: 61% 39% 55% 45% / 61% 38% 62% 39%;
  }
  56% {
    border-radius: 61% 39% 67% 33% / 70% 50% 50% 30%;
  }
  70% {
    border-radius: 50% 50% 34% 66% / 56% 68% 32% 44%;
  }
  84% {
    border-radius: 46% 54% 50% 50% / 35% 61% 39% 65%;
  }
}

/* #Progress
================================================== */

.progress-wrap {
  position: fixed;
  right: 30px;
  bottom: 30px;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
  z-index: 10000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(15px);
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.3); /* --- Pijl kleur --- */
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::after {
  opacity: 0;
}
.progress-wrap::before {
  position: absolute;
  font-family: "unicons";
  content: "\e84b";
  text-align: center;
  line-height: 46px;
  font-size: 24px;
  opacity: 0;
  background: black; /* --- Pijl hover kleur --- */
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  cursor: pointer;
  display: block;
  z-index: 2;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
.progress-wrap:hover::before {
  opacity: 1;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: rgba(0, 0, 0, 0.2); /* --- Lijn progres kleur --- */
  stroke-width: 4;
  box-sizing: border-box;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}
